---
import BottomBanner from "../components/BottomBanner.astro";
import PageContent from "../components/PageContent.astro";
import Layout from "../layouts/Layout.astro";

const requirementSpecials = [
  "Documentación de identificación del mandante y mandatario."
]

const stepsSpecials = [
  "Contactas con Lexdata Services y te asesoramos en todo lo necesario para lograr que tu requerimiento sea proyectado de forma segura.",
  "El equipo de abogados patrocina tu minuta conforme a la legislación ecuatoriana y los requerimientos específicos del cliente.",
  "Coordina con notarías especializadas el otorgamiento de la escritura pública.",
  "Te entrega tus documentos en el lugar que elijas."
]

const requirementsGeneral = [
  "Documentación de identificación del mandante y mandatario."
]

const stepsGeneral = [
  "Contactas con Lexdata Services y te asesoramos en todo lo necesario para lograr que tu requerimiento sea proyectado de forma segura.",
  "El equipo de abogados patrocina tu minuta conforme a la legislación ecuatoriana y los requerimientos específicos del cliente.",
  "Coordina con notarías especializadas el otorgamiento de la escritura pública.",
  "Te entrega tus documentos en el lugar que elijas."
]

const requirements = [
  "Documentación de identificación del mandante y mandatario."
]

const steps = [
  "Contactas con Lexdata Services y te asesoramos en todo lo necesario para lograr que tu requerimiento sea proyectado de forma segura.",
  "El equipo de abogados patrocina tu minuta conforme a la legislación ecuatoriana y los requerimientos específicos del cliente.",
  "Coordina con notarías especializadas el otorgamiento de la escritura pública.",
  "Te entrega tus documentos en el lugar que elijas."
]
---

<Layout>
  <PageContent requirements={requirementSpecials} steps={stepsSpecials} image="salida-menores" title=`poderes<br/>especiales`>
    <div class="container mx-auto mt-10">
    <div class="w-[70%] mx-auto">
      <p class="ont-bold">Son utilizados para que una persona natural o jurídica de confianza del mandante ejecute en su nombre actos y contratos específicos como la venta o compra de bienes inmuebles, automotores, solicite posesiones efectivas y en fin ejecute una gran variedad de gestiones.</p>
    </div>
  </div>
  </PageContent>

  <PageContent requirements={requirementsGeneral} steps={stepsGeneral} image="salida-menores" title=`poderes<br/>generales`>
    <div class="container mx-auto mt-10">
    <div class="w-[70%] mx-auto">
      <p class="ont-bold">Es un tipo de poder especial o general según el caso que se otorga exclusivamente en favor de abogados a fin de que representen al mandante en procesos judiciales y/o administrativos.</p>
    </div>
  </div>
  </PageContent>

  <PageContent requirements={requirementsGeneral} steps={stepsGeneral} image="salida-menores" title=`procuración<br/>judicial`>
    <div class="container mx-auto mt-10">
    <div class="w-[70%] mx-auto">
      <p class="ont-bold">Es un tipo de poder especial o general según el caso que se otorga exclusivamente en favor de abogados a fin de que representen al mandante en procesos judiciales y/o administrativos.</p>
    </div>
  </div>
  </PageContent>
  <BottomBanner />
</Layout>