---
const { requirements, steps, image, title, alt } = Astro.props;
const translations = {
  es: {
    requirements: "Requisitos",
    procedure: "Procedimiento"
  },
  en: {
    requirements: "Requirements",
    procedure: "Procedure"
  }
};

const lang = Astro.url.pathname.startsWith('/en') ? 'en' : 'es';
const t = translations[lang];
const imageAlt = alt || title.replace(/<br\s*\/?>/g, ' ');
---

<section class="container mx-auto mt-10">
   <div class="md:w-[70%] md:mx-auto flex flex-col md:flex-row md:items-end gap-1 md:p-4">
     <div class="h-auto hidden lg:block">
      <h1
        class="writing-vertical text-gray text-6xl tracking-[1rem] uppercase rotate-180"
        set:html={title}
      />
    </div>
    <div class="h-auto md:hidden p-4">
      <h1
        class="text-gray text-3xl tracking-[1rem] uppercase"
        set:html={title}
      />
    </div>

    <div>
      <img
        src=`/images/${image}.webp`
        alt={imageAlt}
        class="max-w-full h-auto object-cover"
        loading="lazy"
      />
    </div>
  </div>
  <slot />
  <div class="mt-10 p-4 lg:w-[70%] lg:mx-auto lg:grid lg:grid-cols-2 lg:p-0">
    <div class="p-4">
      <p class="text-3xl text-green lg:text-right">{t.requirements}</p>
      <ul class="list-none mt-4 text-black lg:text-right">
        {
          requirements.map((requirement: string) => (
            <li>
              <p>{requirement}</p>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="p-4 border-l-2 border-dotted ml-4">
      <p class="text-3xl text-green text-left pl-6">{t.procedure}</p>
      <ul class="list-disc mt-4 text-black text-left pl-6">
        {
          steps.map((step: string) => (
            <li>
              <p>{step}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
